/* @import url("./styles/product.css");
@import url("./styles/auth.css");
@import url("./styles/header.css");
@import url("./styles/footer.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #c10013;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

#root {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f8fafc;
}

/* background colors */
.bgRed {
  background-color: var(--main-color);
}

.bgPrimary {
  background-color: #0f172a;
}

.bgSecondary {
  background-color: #1e293b;
}
.bgTertiary {
  background-color: #020617;
}

.bgGrey {
  background-color: #888888;
}

/* text colors */
.textRed {
  color: var(--main-color);
}

.textRed:hover {
  font-weight: 600;
}

/* jumbotron */
.jumbo {
  min-height: 70vh;
}

.jumboSecBtn {
  background-color: #fff;
  color: #c10013;
  border: 2px solid #fff
}

.jumboPriBtn {
  background-color: #c10013;
  color: #fff;
  border: 2px solid #fff
}

.jumboSecBtn:hover {
  background-color: #e0e0e0;
  border: 2px solid #e0e0e0
}

.jumboPriBtn:hover {
  background-color: #ee2136;
}

