/* Importing styles */
@import url("../src/styles/header.css");
@import url("../src/styles/footer.css");
@import url("../src/styles/auth.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #c10013;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

#root {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

/* background colors */
.bgRed {
  background-color: var(--main-color);
}

.bgPrimary {
  background-color: #0f172a;
}

.bgSecondary {
  background-color: #1e293b;
}
.bgTertiary {
  background-color: #020617;
}

/* text colors */
.textRed {
  color: var(--main-color);
}

.textRed:hover {
  font-weight: 600;
}

/* jumbotron */
.jumbo {
  min-height: 70vh;
}
